<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>Hailong Studio</title>
<link rel="stylesheet" href="css/style.css" />

<script type='text/javascript' src='js.php' ></script>
<script type='text/javascript'>

	function addTextInput(el,name){
		
		var p = $(el).parents("ul");
		
		var inputs = $("input[type='text']",p);
		
		var c = inputs.size();
		
		$("<li><input type='text' name='"+name+c+"' /></li>").insertBefore($(el).parents("li"));
		
	}
	
</script>
</head>
<body>
<div class='screen'>
	<div class="toolbar">
		<p><a href="javascript:history.back();">&lt;返回</a></p>
	</div>

	<form method="post" action="?" enctype="multipart/form-data" id="editForm" view="UI.Form" accept-charset="utf8">
		<h2>厨师</h2>
		<input type="hidden" name="pid"></input>
		
		<label id="msgLabel" view="UI.Label" class="error"></label><br/>
		
		<label>厨师编号</label><br />
		<input type="text" name="code"></input><br />
		<label class="note">类别＋籍贯＋身份(5)+厨师号</label><br/>
		<br/>
		
		<label>厨师姓名</label><br />
		<input type="text" name="name"></input><br />
		<br/>
		
		<label>厨师姓名</label><br />
		<input type="radio" name="gender" value="1" ></input><span>男</span>
		<input type="radio" name="gender" value="2" ></input><span>女</span><br />
		<br/>
		
		<label>籍贯</label><br />
		<input type="text" name="hometown"></input><br />
		<br/>
		
		<label>出生年</label><br />
		<input type="text" name="birthYear"></input><br />
		<br/>
		
		<label>擅长菜系</label><br />
		<div id="cuisineLabel" view="UI.Label"></div>
		<br/>
		
		<label>厨师类型</label><br />
		<select name="rank">
			<option value='1'>家庭主厨</option>
			<option value='2'>餐厅大厨</option>
		</select><br />
		<br/>
		
		<label>厨师等级级别</label><br />
		<input type="text" name="title"></input><br />
		<br/>
		
		<label>厨师评价级别</label><br />
		<select name="score">
			<option value="0">0 星</option>
			<option value="1">0.5 星</option>
			<option value="2">1 星</option>
			<option value="3">1.5 星</option>
			<option value="4">2 星</option>
			<option value="5">2.5 星</option>
			<option value="6">3 星</option>
			<option value="7">3.5 星</option>
			<option value="8">4 星</option>
			<option value="9">4.5 星</option>
			<option value="10" selected="selected">5 星</option>
		</select><br />
		<br/>
		
		<label>所属饭店</label><br />
		<input type="text" name="office"></input><br />
		<br/>
		
		<label>特色菜品</label><br />
		<ul id='foodsLabel' view="UI.Label">
			<li><input type="text" name="food_0" value=''></input></li>
			<li><input type="text" name="food_1" value=''></input></li>
			<li><input type="text" name="food_2" value=''></input></li>
			<li><input type="text" name="food_3" value=''></input></li>
			<li><input type="text" name="food_4" value=''></input></li>
			<li><input type="button" value="增加" onclick="addTextInput(this,'food_')" /></li>
		</ul>
		<br/>
		
		<label>厨师简介</label><br />
		<textarea name="summary"></textarea><br />
		<br/>
		
		<label>套餐设置</label><br />
		<ul id="packageLabel" view="UI.Label"></ul>
		<br/>
		
		<label>是否认证</label><br />
		<select name="verify">
			<option value='0' selected="selected">否</option>
			<option value='1' >是</option>
		</select><br />
		<br/>
	
		<label>身份证号</label><br />
		<input type="text" name="securityIDCode"></input><br />
		<br/>
		
		<label>厨师头像</label><br />
		<input type="file" name="logo"></input><br />
		<input type="hidden" name="logoUrl"></input><br />
		<img id="logoView" view="UI.View" width="180px" style="display:none;"></img>
		<br/>
		
		<label>服务区域</label><br />
		<div id="areaLabel" view="UI.Label"></div><br />
		<br/>
		
		<label>服务时间</label><br />
		<input type="text" name="time"></input><br />
		<br/>
		
		<label>电话号码</label><br />
		<input type="text" name="phone"></input><br />
		<br/>
		
		<label>QQ</label><br />
		<input type="text" name="qq"></input><br />
		<br/>
		
		<label>微信</label><br />
		<input type="text" name="weixin"></input><br />
		<br/>
		
		<label>微博</label><br />
		<input type="text" name="weibo"></input><br />
		<br/>
	
		<div>
			<input class='button' type='button' value='取消' onclick="history.back();" ></input>
			<input class='button' type='submit' value='提交' ></input>
		</div>

	</form>

</div>
</body>
</html>